[시작]

- 코드셀에 행번호 표시하기 - 설정>편집기>행번호표시
- 2를 100번 곱하면 얼마인지 계산하기 (거듭제곱연산자 **)

In [ ]:
결과 = 2**100
print(결과)

1267650600228229401496703205376

[실습]
- 첫번째숫자 : 12
- 두번째 숫자 : 8

1. 두 숫자의 합을 계산하고 결과가 20보다 큰지 확인
2. 두 숫자의 곱이 100보다 작거나 같은지 확인
3. 첫 번째 숫자가 10보다 크거나 두 번째 숫자가 10보다 작은지 확인
4. 두 숫자의 평균이 정확히 10인지 확인

In [ ]:
첫번째숫자 = 12
두번째숫자 = 8

합 = 첫번째숫자 + 두번째숫자
print('합이 20보다 큰가요?', 합>20)
곱 = 첫번째숫자 * 두번째숫자
print('곱이 100보다 작거나 같은가요?', 곱 <=100)
print('첫 번째 숫자가 10보다 크거나 두 번째 숫자가 10보다 작은가요?', 첫번째숫자>10 or 두번째숫자 <10)

평균 = (첫번째숫자+두번째숫자)/2
print('평균이 10인가요?', 평균==10)

합이 20보다 큰가요? False
곱이 100보다 작거나 같은가요? True
첫 번째 숫자가 10보다 크거나 두 번째 숫자가 10보다 작은가요? True
평균이 10인가요? True


[변수]

변수 : 데이터를 저장하기 위해 메모리 고간에 이름을 붙인 것\
변수명 : 데이터를 담는 상자의 이름\
변수의 필요성 : 동일한 값을 반복적으로 사용할 때마다 직접 입력하는 대신, 변수에 저장해두고 활용할 수 있다.

In [ ]:
num = 12345
print(num)
print(num/2)
print(num/4)
print(num/6)

12345
6172.5
3086.25
2057.5


[자료형]

- 기본자료형
1. 정수형(Integer int) :정수값을 저장하는 자료형  (num = 10)
2. 실수형(float   float) : 부동 소수점 숫자를 저장하는 자료형 (num = 10.4)
3. 문자열(string str) : 문자열을 저장하는 자료형 (srt_num = 'Hello world')
4. 논리형(Boolean bool) : 참(True), 거짓(False) (bool_num = True)
- 추상자료형
1. 리스트(list) : 순서가 있는 요소들의 집합을 나타내는 자료형 (lsit_num = [1, 2, 3])
2. 튜플(Tuple) : 리스트와 유사하나 선언이후 요소를 수정할 수 없는 자료형 (tuple_num = (1, 2, 3))
3. 사전(Dictionary) : 키-값 쌍으로 데이터를 저장하는 자료형 (Dic_num = {'jan' : 1, 'feb':2, 'mar':3})

[실습]
- 문자열을 변수에 저장하고, 호출하기
- 문자열 'hello world'를 변수 str에 할당하고 호출

In [ ]:
str = 'hello world'
print(str)

hello world

In [ ]:
#다음의 변수들을 선언하고 각 변수의 자료형을 확인
name = '허윤경'
age = 50
heigh = 170.5

In [ ]:
print(type(name), type(age), type(heigh))

<class 'str'> <class 'int'> <class 'float'>

In [ ]:
#정수형자료와 실수형 자료를 연산하면 결과
pi = 3.14
area = 5 * 5 * pi
print(type(area))
print(area)

<class 'float'>
78.5

In [ ]:
#문자와 숫자는 연산할 수 없다

ThisYear = 2024
MyBirthYear = '1980'
age = ThisYear - MyBirthYear #해결방법 age = ThisYear - int(MyBirthYear)
print(age)

[리스트, 튜플, 딕셔너리]

- 상황 : 프로그램을 작성할 때 하나의 변수에 여러값을 저장하고, 특정값을 쉽게 접근할 수 있는 방법이 필요하다.\
 이번 차시에서는 리스트, 퓨플, 딕셔너리를 사용하여 여러 데이터를 효율적으로 저장하고 처리하는 방법을 학습한다.
- 작성하고 싶은 프로그램에서 여러개의 데이터를 저장해야 한다면, 리스트, 튜플 또는 딕셔너리를 어떻게 사용할지 생각해보자. 데이터를 구조화하여 효율적으로 관리하기 위해 어떤 자료형이 적합할지 고민해봅시다.

In [10]:
#리스트 : 여러개의 데이터를 순서대로 저장할 수 있는 자료형, 대괄호 []를 사용하여 선언합니다.

student = [95, 90, 85, 80, 93]

#리스트내의 각 데이터는 인덱스를 통해 접근

print(student[0])

95

In [11]:
#리스트는 인덱스를 사용하여 특정 항목을 호출하거나, 항목을 변경할 수 있다.
#리스트의 항목은 슬라이싱을 통해 일부만 추출할 수 있다.
#student = [95, 90, 85, 80, 93]

print(student[1:3])

#리스트의 항목을 삭제 하려면 del명령어를 사용할 수 있다.

del student[0]

print(student)

[90, 85]
[90, 85, 80, 93]

In [16]:
#튜플은 리스트와 유사하지만, 한번 생성된 후에는 수정할 수 없는 불변의 자료형
#튜플은 소괄호()를 사용하여 선언하거나 괄호없이 선언할 수 있다.

numbers = (1,2,3)
letters = 'a','b','c'

#튜플의 요소도 리스트처럼 인덱스를 통해 접근할 수 있다.

print(numbers[0])

#튜플은 리스트와 마찬가지로 인덱싱과 슬라이싱이 가능합니다.
#튜플은 요소의 수정이나 삭제가 불가능 하므로, 데이터를 안전하게 보호할 수 있다.

print(numbers[1:2])
numbers[1] = 10

1
(2,)

TypeError: 'tuple' object does not support item assignment

In [20]:
#딕셔너리는 키(key)와 값(Value)의 쌍으로 데이터를 저장하는 자료형
#딕셔너리는 중괄호{}를 사용하여 선언, 각 키와 값은 콜론:으로 구분

dict_sample = {'name':'Sally','age': 30}
print(dict_sample)

#특정키의 값을 호출하기 위해서는 키를 인덱스로 사용한다.
print(dict_sample['name'])

#딕셔너리에 새로운 키와 값을 추가하거나 기존값을 변경할 수 있다.
dict_sample['phone']='010-6436-5684'
print(dict_sample)

#딕셔너리의 항목을 삭제하려면 del명령어를 사용할 수 있다.
del dict_sample['age']
print(dict_sample)

{'name': 'Sally', 'age': 30}
Sally
{'name': 'Sally', 'age': 30, 'phone': '010-6436-5684'}
{'name': 'Sally', 'phone': '010-6436-5684'}

[실습]
- 나에 대한 정보 (이름, 좋아하는 숫자, 좋아하는 음식)를 리스트로 선언해 봅시다

In [21]:
my_info = ['허윤경',7,'회덮밥']
print(my_info[1:3])
print(my_info)

['허윤경', 49, '회덥밥']

In [24]:
#위 문제에서 선언한 리스트에서 좋아하는 숫자부터 좋아하는 음식까지의 요소를 한번에 호출
print(my_info[1:])

[49, '회덥밥']

[실습]
- 나에 대한 정보 (이름, 좋아하는 숫자, 좋아하는 음식)를 딕셔너리로 선언해 봅시다

In [27]:
my_info_dict = {'name':'허윤경', 'favorite_number': 7, 'favorite_food':'회덮밥'}
print(my_info_dict)

{'name': '허윤경', 'favorite_number': 7, 'favorite_food': '회덮밥'}

In [30]:
#위 딕셔너리에서 좋아하는 숫자의 값을 호출
print(my_info_dict['favorite_number'])

#위 딕셔너리에서 다음의 sore_list리스트를 추가해보자
score_list = [100, 90, 80]
my_info_dict['scores'] = score_list   #key값은 변수값 정의하듯이 입력하면 된다.
print(my_info_dict)

7
{'name': '허윤경', 'favorite_number': 7, 'favorite_food': '회덮밥', 'scores': [100, 90, 80], 'scorest': [100, 90, 80]}

[입출력]
- print()함수를 사용해 데이터를 출력하고,
- input()함수를 통해 사용자로부터 데이터를 입력 받는 방법을 학습한다.
- 또한 데이터를 파일에 저장하거나 파일로 부터 데이터를 읽어오는 입출력에 대해서도 알아보자

In [34]:
# 프로그램을 작성할 때, 사용자가 입력한 데이터를 처리하여 그 결과를 화면에 출력 하거나 파일에 저장하는 것이 중요하다.
# 이번에는 파이썬의 표준 입출력과 파일입출력을 통해 이러한 작업을 수행하는 방법을 학습합니다.

# 만들고 싶은 프로그램에서 어떤 데이터를 입력받고 그 결과를 어떻게 출력할 지 생각해봅시다.
#출력된 결과를 파일로 저장하는 방법을 생각해 봅시다.


#코등의 결과를 확인하는 가장 기본적인 방법은 print()함수가 있다.

print('Hello, world')

#여러개의 자료나 변수를 한번에 출력할 떄는 쉼표(,) 또는 연산자 +를 사용

print('The result is', 5 + 3)

#줄 바꾸지 않고 출력하기
#'end' 인자를 사용해 줄 바꿈 없이 여러 출력물을 한줄에 출력할 수 있다.

print('Hello', end=' ')
print('world!')

Hello, world
The result is 8
Hello world!

In [37]:
#형식지정 출력 : 문자열에 데이터를 삽입하거나 형식을 지정하여 출력
# '%'연산자를 사용하여 데이터의 형식을 지정한다.

print('Name : %s, Age : %d' %('Alice',30))

#'format()' 함수를 사용하여 출력 위치와 형식을 더 자유롭게 지정할 수 있다.

print('Name : {}, Age : {}'.format('Alice',30))

Name : Alice, Age : 30
Name : Alice, Age ; 30

In [41]:
#키보드 입력
#사용자가 키보드로 입력한 데이터를 받아오는데 사용되는 함수는 input()

name = input('Enter your name : ')
print('Hello, ' + name)

#입력받은 데이터는 기본적으로 문자열로 처리되며, 이를 숫자로 사용하려면 형 변환이 필요

age = int(input('Enter your age : '))
print('Next year, you will be', age + 1)

Enter your name : 허윤경
Hello, 허윤경
Enter your age : 49
Next year, you will be 50

In [44]:
#파일입출력
#파일쓰기 : 데이터를 화면에 출력하는 대신 파일에 저장하려면 파일쓰기 모드로 파일을 열고,
#데이터를 쓰는 함수를 사용한다.

f = open('test.txt','w')
f.write('Hello, world!')
f.close()

In [46]:
#파일읽기
#파일에 저장된 데이터를 읽어오려면 파일 읽기 모드로 파일을 열고,
#데이터를 읽는 함수를 사용한다.

f = open('test.txt','r')
data = f.read()
f.close()

print(data)

Hello, world!

[실습]
- 화면에 'Hello, Python!'을 출력해보시오
- 사용자의 이름을 입력받아 'Hello, [이름]!'을 출력하는 프로그램 작성하기
- 사용자가 입력한 두 숫자를 더한 결과를 출력하는 프로그램 작성하기
- hello.txt 파일에 'I am a high school student'를 쓰고, 그파일을 읽어와 출력하는 프로그램을 작성

In [ ]:
#화면에 'Hello, Python!'
print('Hello, Python!')

In [47]:
#사용자의 이름을 입력받아 'Hello,[이름]!'을 출력하는 프로그램 작성하기

name = input('Enter your name : ')
print('Hello, ' + name + '!')

Enter your name : 허윤경
Hello, 허윤경!

In [50]:
#사용자가 입력한 두 숫자를 더한 결과를 출력하는 프로그램 작성하기

num1 = int(input('Enter firat number :'))
num2 = int(input('Enter second number :'))
sum = num1 + num2
print('Sum :',sum)

Enter firat number :10
Enter second number :20
Sum : 30

In [53]:
#hello.txt 파일에 'I am a high school student'를 쓰고, 그파일을 읽어와 출력하는 프로그램을 작성

myfile = open('hello.txt','w')
myfile.write('I am a high school student')
myfile.close()


#e데이터 읽기
myfile = open('hello.txt','r')
data = myfile.read()
f.close()
print(data)

I am a high school student

[제어문]
- 프로그램이 특정 조건을 만족할 때 실행할 코드나 반복할 코드를 정의할 수 있는 강력한 도구
- if, for, while문

In [55]:
#프로그램을 작성할 때 특정 조건에 따라 실행 될 코드가 달라지거나
#특정 작업을 반복해야 할 때 제어문이 필요함
#제어문을 사용하여 프로그램의 흐름을 제어하는 방법을 학습합니다.

#프로그램에서 특정 조건에 따라 실행될 코드나 반복될 작업이 무엇인지 생각하고, 제어문을 사용해 이 작업을 어떻게 구현 할 수 있을지 생각해 봅니다.


#if

score = 75
if score >= 90 :
  print('A')
else:
  print('B')

B

In [56]:
score = 80
if score >= 90 :
  print('A')
elif score >= 80 :
  print('B')
else :
  print('C')

B

In [68]:
#키가 130cm이상이면 '혼자 탑승할 수 있습니다'
#키가 130cm미만이rh,110cm이상이면 '보호자와 함께 탑승할 수 있습니다.'
#키가 110cm미만이면 '탑승할 수 없습니다.'로 출력하는 프로그램 작성하기

height = int(input('키를 입력하세요(단위는 빼고 숫자만):'))

if height >= 130:
  print('혼자 탑승할 수 있습니다.')

elif height >= 110:
  print('보호자와 함께 탑승할 수 있습니다.')

else :
  print('탑승할 수 없습니다.')

키를 입력하세요(단위는 빼고 숫자만):100
탑승할 수 없습니다.

In [57]:
#반복을 위한 for문
#for문은 지정된 범위나 시퀀스의 각 요소에 대해 반복 작업을 수행
#range()함수와 함께 사용하기

for i in range(5) :
  print(i)

0
1
2
3
4

In [59]:
#range()함수와 함께 사용하기

for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [60]:
#중첩for문
#for문안에 또다른 for문을 작성해 반복을 중첩할 수 있다.
#입력되는 숫자에 해당하는 구구단을 출력하는 프로그램

dan = int(input('구구단 몇 단을 출력할까요?'))
for i in range(1,10):
  print('{0} x {1} = {2}'.format(dan, i+1, dan*(i+1)))

구구단 몇 단을 출력할까요?4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
#구구단 모두 출력
for i in range(2,10):
  for j in range(1, 10):
    print('{0} x {1} = {2}'.format(i, j, i*j))

In [64]:
#while문은 특정 조건이 참인동안 코드를 반복 실행합니다.

count = 0
while count <5 :
  print(count)
  count += 1

0
1
2
3
4

In [65]:
while True :
  command = input('명령을 입력하세요 (종료하려면 exit):')
  if command == 'exit':
    break

명령을 입력하세요 (종료하려면 exit):1
명령을 입력하세요 (종료하려면 exit):exit